
<div class="container-fluid mb-3" align="center">
    <h4 style="color: rgb(203, 162, 66);">Select The Place</h4>
</div>
<select class="form-select" multiple aria-label="multiple select example"[(ngModel)]="selected">
    
    <option *ngFor="let x of cityData">{{x.CityName}}</option>
  </select>
  <br/>
  <div class="container-fluid mb-3" align="center">
    <h4 style="color: rgb(130, 66, 203);">Book Food </h4>
</div>


  <table class="table mt-2">
    <thead >
        <tr >
            <th scope="col">id</th>
            <th scope="col">Place</th>
            <th scope="col">Pizza</th>
            <th scope="col">Rolls</th>
            <th scope="col">Shakes</th>
            <th scope="col">Cakes</th>
            
        
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of cityData" >
            <ng-container *ngIf="row.CityName==selected">
            <td>{{row.id}}
            </td>
            <td>{{row.CityName}}</td>
            <td>{{row.Pizza}}
                <button (click)="bookFood(row.Pizza,row.CityName)" type="button" class="btn btn-primary btn-sm">Book</button>
            </td>
            <td>{{row.Rolls}}
                <button (click)="bookFood(row.Rolls,row.CityName)" type="button" class="btn btn-primary btn-sm">Book</button>
            </td>
            <td>{{row.Cakes}}
                <button (click)="bookFood(row.Cakes,row.CityName)" type="button" class="btn btn-primary btn-sm">Book</button>
            </td>
            <td>{{row.Shakes}}
                <button (click)="bookFood(row.Shakes,row.CityName)" type="button" class="btn btn-primary btn-sm">Book</button>
            </td>
            </ng-container>
        </tr>
    </tbody>
</table>

