
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>Please Enter Email & Password !!</h6>
                </div>
                <form [formGroup]="loginForm"(ngSubmit)="login()">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"placeholder="E-mail">
                          <div id="emailHelp" class="form-text" style="color: yellowgreen;">We'll never share your email with anyone else.</div>
                          <span class="text-danger" *ngIf="loginForm.controls['email'].touched && loginForm.hasError('required')">*Email id is required</span>
                        </div>
                       
                        <div class="mb-3">
                          <label for="password" class="form-label">Password</label>
                          <input formControlName="password" type="password" class="form-control" id="password"placeholder="password">
                          <span class="text-danger" *ngIf="loginForm.controls['password'].touched && loginForm.hasError('required')">*Password is required</span>
                        </div>
                        <button type="submit" [disabled]="!loginForm.valid" click="login()" class="btn btn-primary mb-2">Login</button>
                      </form>
                      <a style="color:aliceblue;margin: top 10px;" routerLink="/signup">New User? Click to SignUp</a>
                      <a style="color:aliceblue;margin: top 10px;" routerLink="/admin">Admin? Click to Login </a>
            </div>
        </div>
    </div>

</div>
