.card{
    border: none;
    width: 500px;
    padding: 40px;
    position: relative;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
    background: hsla(205, 46%,35%, 1);
    background: linear-gradient(90deg, rgb(23, 110, 172) 0%, rgb(96, 39, 212)100%);
    align-items: center;
    display: flex;
    
}
.container{
    
    max-width: 100px;
    margin:auto;

  
}
@media screen and (max-width: 300px) {
   div.card  {
       display: block;
       float: none;
    }}