<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Sign Up</h1>
                    <h6>Register Yourself !!</h6> 
                </div>
                <form [formGroup]="signupForm" (ngSubmit)="signUp()" >
                        <div class="mb-2">
                            <label for="exampleInputPassword1" class="form-label">Full Name</label>
                            <input formControlName="fullname" type="text" class="form-control " id="exampleInputPassword1" placeholder="Name" >
                            <span class="text-danger" *ngIf="signupForm.controls['fullname'].touched && signupForm.hasError('required')">*full name is required</span>
                          </div>
                         
                          <div class="mb-2">
                            <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
                            <input formControlName="mobile" type="text" class="form-control" id="exampleInputPassword1" placeholder="Phone" required>
                            <span class="text-danger" *ngIf="signupForm.controls['mobile'].touched && signupForm.hasError('required')">*mobile number  is required</span>
                          </div>
                        <div class="mb-2">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail" required>
                          <div id="emailHelp" class="form-text" style="color: yellowgreen;">We'll never share your email with anyone else.</div>
                          <span class="text-danger" *ngIf="signupForm.controls['email'].touched && signupForm.hasError('required')">*full name is required</span>
                        </div>
                        <div class="mb-2 ">
                          <label for="password" class="form-label">Password</label>
                          <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password" name="password" >
                          <span class="text-danger" *ngIf="signupForm.controls['password'].touched && signupForm.hasError('required')">*full name is required</span>
                        </div>
                       
                      
                        
                        <button type="submit" [disabled]="!signupForm.valid"class="btn btn-primary mb-2">Submit</button>
                      </form>
                        <a style="color:aliceblue;margin: top 10px;" href="/login">Already Registered User? Click to Login</a>
                      <a style="color:aliceblue;margin: top 10px;" href="/admin">Admin? Click to Login </a>
            </div>
        </div>
    </div>

</div>