
<body>
       
    
    <img src="https://th.bing.com/th?id=OIP.n9pn1mWIswucxNUjPtsu5AHaE5&w=307&h=203&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" class="img-fluid">
    <!--<marquee class="abcd" width="60%" direction="right" height="20%" ><h1>Plan your holidays</h1> </marquee>
<marquee class="abc" width="60%" direction="right" height="60%" ><h1>Book your holiday</h1> </marquee> -->
<!--<marquee class="xyz" width="100%" direction="right" height="500px" ><h6>This is Flight Management App.Plan your holidays.Book Flights</h6></marquee>--> 



</body>
