
  <div class="container-fluid mb-3" align="center">
    <h4 style="color: rgb(130, 66, 203);">Booked Flight Details</h4>
</div>


  <table class="table mt-2">
    <thead >
        <tr >
            <th scope="col">id</th>
            <th scope="col">Customer Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Mobile</th>
            <th scope="col">Place</th>
            <th scope="col">Item Booked</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of bookedHotel">
            <td>{{row.id}}</td>
            <td>{{row.CustomerName}}</td>
            <td>{{row.email}}</td>
            <td>{{row.phone}}</td>
            <td>{{row.CityName}}</td>
            <td>{{row.HotelName}}</td>
            
        </tr>
    </tbody>
</table>

